body{
    justify-items: center;
    margin-top: 20px;
    background-image: url('confetti.jpg');
}

.border{
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 1200px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(216,21,60);
    justify-content: space-around;
    box-shadow: 2px 2px 4px black;
    align-items: center;
    padding: 20px 0;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    margin-top: -10px;
    background-color: black;
    border-style: solid;
    border-radius: 5px;
}

.logo span{
    font-family: "Chicle";
    color: rgb(241,200,54);
    font-size: 40px;
    text-shadow: 2px 2px 0 black;
}

.logo .magic{
    font-size: 20px;
    padding-left: 30px;
}

.logo .screen{
    font-size: 20px;
    padding-right: 30px;
}

.divBox{
    padding-top: 0px;
    background-color: rgb(197, 197, 197);
}

.bottomRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 20px;
    margin-top: 15px;
}

.circle{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: rgba(246,246,246);
    border-style: solid;
    box-shadow: 2px 2px 4px black;
}

button{
    background-color: rgb(241,200,54);
    border-style: solid;
    box-shadow: 2px 2px 4px black;
    width: 140px;
    height: 50px;
    font-weight: bold;
}

.reset{
    display: flex;
    align-items: center;
    gap: 20px;
}

.new{
    display: flex;
    align-items: center;
    gap: 20px;
}